.announcements-section {
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}

.announcement-item {
    margin-top: 15px;
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 8px;
}

.announcement-item h3 {
    margin: 0;
}

.announcement-item p {
    margin: 10px 0 5px;
}

.announcement-item span {
    color: #bbb;
    font-size: 0.9em;
}